// FONTS
$primary-font: 'Kulim Park', sans-serif;

// COLORS
$background-color: #1E4040;
$light-green: #36734B;
$paper: #F2F1E4;
$error: complement(#36734B);

// MIXINS

// SPACING
$cardSpace: 20px;

// OTHER
