// FONTS
$primary-font: 'Kulim Park', sans-serif;
// $secondary-font:


// COLORS
$background-color: black;
$paper: #eeeedd;

// MIXINS

// OTHER
$backgroundUrl:'src/assets/evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg';
