@import 'base';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

header {

}

body {
  background: url("../assets/evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg");
  background-size: 100%;
  background-color: $background-color;
  font-family: $primary-font;
}

// *** Wrapper *** //
.wrapper {
  margin: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

// *** Containers *** //
.mainScroll {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: repeat(4, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  overflow: scroll;
  padding: 0 20px 0 20px;
}

.card {
  background-color: $paper;
  border-radius: 2px;
}

.userCard {
  @extend .card;
  display: flex;
  flex-direction: column;
  padding: $cardSpace/4;
}

.roomCard {
  @extend .card;
  padding: $cardSpace/4 0 $cardSpace/4 $cardSpace/2;
  margin: $cardSpace/2 0 $cardSpace/2 0;
}

.roomFeatures {
  background-color: $paper;
  font-size: 16px;
  font-weight: 400;
  list-style: circle;
  border-top: solid $background-color;
  padding: $cardSpace/4 0 $cardSpace/4 $cardSpace;
  margin: $cardSpace/4 0 0 0;
}

.userInputCard {
  @extend .card;
  padding: $cardSpace/4;
}

.datePicker {
  background-color: $paper;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: $cardSpace/4;
  margin: $cardSpace/4 0 $cardSpace/2 0;
}

.roomTypeInput {
  display: flex;
  flex-direction: column;

  input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    @extend .card;
    padding: $cardSpace/4  $cardSpace/4 ;
    font-size: 16px;
    border: 1px solid #000000;
    margin: $cardSpace/4 0;
  }

  input[type="checkbox"]:checked + label {
    background-color: $background-color;
    color: $paper;
  }

  input[type="checkbox"]:focus + label {
    border: 3px solid #000000;
  }

  button {
    background-color: $background-color;
    color: $paper;
    font-size: 18px;
    align-self: flex-end;
    border: 2px solid $background-color;
    border-radius: 2px;
    padding: $cardSpace/4;
    margin: $cardSpace/4 0;
  }

}

// *** Text Elements *** //

h1 {
  color: $paper;
  font-size: 55px;
  letter-spacing: .05em;
  margin: 105px 0 -14px 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
}

.heading {
  color: $paper;
  font-weight: 200;
  margin: $cardSpace/2 0 $cardSpace/4 0;
}

.error {
  color: $error;
  margin:  -$cardSpace/4 0 $cardSpace/4 $cardSpace/4;
}

// *** Utility classes *** //
.hidden {
  opacity: 0;
}

.noRender {
  display: none;
}
