@import 'base';

// *** Reset *** //
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   vertical-align: baseline;
// }

// .parent {
// display: grid;
// grid-template-columns: 1fr;
// grid-template-rows: repeat(4, 1fr);
// grid-column-gap: 0px;
// grid-row-gap: 0px;
// }

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section {
//   display: block;
// }

header {

}

body {
  // line-height: 1;
  // background: url(".src/assets/evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg");
  background-color: $background-color;
  font-family: $primary-font;
}



// *** Wrapper *** //
.wrapper {
  margin: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}


// *** Containers *** //
.mainScroll {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: repeat(4, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  overflow: scroll;
  padding: 0 20px 0 20px;
}

.userCard {
  display: flex;
  flex-direction: column;
  background-color: $paper;
  border-radius: 2px;
  padding: $cardSpace/4;
  margin: $cardSpace 0 $cardSpace 0;
}

.roomCard {
  background-color: $paper;
  border-radius: 2px;
  padding: $cardSpace/4 0 $cardSpace/4 $cardSpace/2;
  margin: $cardSpace/2 0 $cardSpace/2 0;
}



// *** Text Elements *** //

h1 {
  color: $paper;
  font-size: 55px;
  letter-spacing: .10em;
  margin: 105px 0 0 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  margin-bottom: $cardSpace/4;
}

.listHeading {
  color: $paper;
  font-weight: 200;
  margin: $cardSpace 0 $cardSpace/4 0;
}

h4 {
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
}

.roomFeatures {
  font-size: 16px;
  font-weight: 400;
  list-style: circle;
  border-top: solid $background-color;
  padding: $cardSpace/4 0 $cardSpace/4 $cardSpace;
  margin: $cardSpace/4 0 0 0;
}
