@import 'base';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background: url("../assets/evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg") no-repeat top center fixed;
  background-size: cover;
  background-color: $background-color;
  font-family: $primary-font;
}

// *** Containers and cards *** //
.mainScroll {
  overflow: scroll;
  padding: 0 20px 0 20px;
  min-width: 300px;

  button {
    background-color: $background-color;
    color: $paper;
    font-size: 14px;
    border: 2px solid $background-color;
    border-radius: $corner;
    padding: $cardSpace/4;
    margin: $cardSpace/4 0;
  }
}

.card {
  background-color: $paper;
  border-radius: $corner;
}

.loginCard {
    @extend .card;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $cardSpace;

    input, button {
      max-width: 70%;
    }
}

.userCard {
  @extend .card;
  display: flex;
  flex-direction: column;
  padding: $cardSpace/4;
}

.roomCard {
  @extend .card;
  padding: $cardSpace/4 0 $cardSpace/4 $cardSpace/2;
  margin: $cardSpace/2 0 $cardSpace/2 0;
}

.roomFeatures {
  background-color: $paper;
  font-size: 16px;
  font-weight: 400;
  list-style: circle;
  border-top: solid $light-green;
  padding: $cardSpace/4 0 $cardSpace/4 $cardSpace;
  margin: $cardSpace/4 0 0 0;
}

.userInputCard {
  @extend .card;
  padding: $cardSpace/4;
}

.inputField {
  background-color: $paper;
  border: 1px solid #000000;
  border-radius: $corner;
  padding: $cardSpace/4;
  margin: $cardSpace/4 0 $cardSpace/2 0;
}

.roomTypeInput {
  display: flex;
  flex-direction: column;

  input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    @extend .card;
    padding: $cardSpace/4  $cardSpace/4 ;
    font-size: 16px;
    border: 1px solid #000000;
    margin: $cardSpace/4 0;
  }

  input[type="checkbox"]:checked + label {
    background-color: $background-color;
    color: $paper;
  }

  input[type="checkbox"]:focus + label {
    border: 3px solid #000000;
  }

  button {
    background-color: $background-color;
    color: $paper;
    font-size: 18px;
    align-self: flex-end;
    border: 2px solid $background-color;
    border-radius: $corner;
    padding: $cardSpace/4;
    margin: $cardSpace/4 0;
  }
}

// *** Text Elements *** //
h1 {
  color: $paper;
  font-size: 55px;
  letter-spacing: .05em;
  margin: 105px 0 -14px 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-weight: 200;
  font-size: 16px;
  font-style: italic;
}

.heading, .listHeading {
  color: $paper;
  font-weight: 200;
  margin: $cardSpace/2 0 $cardSpace/4 0;
}

.error {
  color: $error;
  margin:  -$cardSpace/4 0 $cardSpace/4 $cardSpace/4;
}

// *** Media Queries *** //
@media screen and (min-width: 475px) {
  .mainScroll {
    width: 72%;
    max-width: 1000px;
    margin: 0 auto;
    }
}

@media screen and (min-width: 713px) {
  .mainScroll {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    }

    .loginCard {
      display: flex;
      flex-direction: column;
      max-width: 70%;
      padding: $cardSpace/4;
    }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: $cardSpace;
    grid-template-areas:
    "upperLeft  upperRight"
    "lowerLeft lowerRight";
    }

  .heading {
    grid-area: upperLeft;
    }

  .userInputCard {
    grid-area: lowerLeft;
    max-height: 300px;
    }

  .listHeading {
    grid-area: upperRight;
    }

  .roomList {
    grid-area: lowerRight;
    margin-top: -$cardSpace/2;
    }
  }

// *** Utility classes *** //
.hidden {
  font-size: 2px;
  opacity: 0;
}

.noRender {
  display: none;
}
